<!DOCTYPE html>

<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Log In </title>
</head>

<div class="head">
    <h1>Welcome returning user</h1>
</div>

<body>
<! Still need to connect to backend>
    <tr>
        <td>User Name:</td>
        <td><input type="text" th:field="*{userName}" /></td>
    </tr>
    <tr>
        <td>Password:</td>
        <td><input type="text" th:field="*{password}" /></td>
    </tr>

</body>
</html>