<!DOCTYPE html>

<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sign Up </title>
</head>
    <div class="head">
        <h1>Enter information below to sign up for a free account</h1>
    </div>
<body>

<form action="#" th:action="@{/save}" th:object="${UserInfo}" method="POST">

    <table>
        <tr>
            <td>User Name:</td>
            <td><input type="text" th:field="*{userName}" /></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><input type="button" value="Create Account" onclick="window.location.href='Map.html';"/> </td>
        </tr>
    </table>

</form>

</body>
CREATE TABLE user
</html>